@font-face {
  font-family: "Whitney Light";
  src: url("../LandingPage/assets/fonts/whitneylight.woff") format("woff");
}

@font-face {
  font-family: "Whitney Medium";
  src: url("../LandingPage/assets/fonts/whitneymedium.woff") format("woff");
}

@font-face {
  font-family: "Whitney Bold";
  src: url("../LandingPage/assets/fonts/whitneybold.woff") format("woff");
}


:root {
  --light-clr: #fff;
  --dark-clr: #23272a;
  --brand-clr: #7289da;
  --off-white-clr: #f6f6f6;
  --general-font-size: 2rem;
  --primary-title-font-size: 4.8rem;
  --secondary-title-font-size: 4rem;
  --main-font-family-light: "Whitney Light", sans-serif;
  --main-font-family-medium: "Whitney Medium", sans-serif;
  --main-font-family-bold: "Whitney Bold", sans-serif;
  --num-of-grid-columns: 4;
  --section-spacing: 5.6rem 2.4rem;
  --container-width: 126rem;
}

.sidenavz {
  font-family: var(--main-font-family-bold);
  color: white;
  justify-content: flex-start;
  height: 100%;
  width: 5%;
  position: fixed;
  overflow-x: hidden;
  background-color: #1e1f22;
  top: 0;
  left: 0;
  align-items: center;
  padding-top: 20px;
  z-index: -5;
  align-items: center;
}

.friendsz {
    font-family: var(--main-font-family-bold);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 14%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #2b2d31;
    margin-left: 5%;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -5;
  }

  .mainz {
    justify-content: flex-start;
    height: 100%;
    width: 81%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #313338;
    margin-left: 19%;
    top: 0;
    left: 0;
  }

.channel-page {
  color: #e5ecf2
}

.back-button {
  background-color: transparent;
  border: none;
  color: #e5ecf2
}

.back-button:hover {
  cursor: pointer;
}
.mainz h2 {
  text-align: center;
  color: white;
}

  .flexbacker {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 100%;;
  }

  .special-btncond {
    color: #f6f6f6;
  }

  .channel-name {
    text-overflow: anywhere;
  }
