.sidenavz {
    justify-content: flex-start;
    height: 100%;
    width: 5%;
    position: fixed;
    overflow-x: hidden;
    background-color: #1e1f22;
    top: 0;
    left: 0;
    align-items: center;
    padding-top: 20px;
    z-index: -5;
  }

  .friendsz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 14%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #2b2d31;
    margin-left: 5%;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -5;
  }

  .mainz {
    justify-content: flex-start;
    height: 100%;
    width: 81%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #313338;
    margin-left: 19%;
    top: 0;
    left: 0;
  }
