.message-card {
    color: #e5ecf2;
    margin-top: 30px;
}

.message-username {
    color: #e5ecf2;
    margin: 0px;
}

.user-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.reaction-panel-button {
    all: unset;
    padding: 0 10px;
    color: #e5ecf2;
}

.reaction-panel-button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px black;
}

.message-text {
    overflow-wrap: break-word;
    padding-right: 60px;
}
