#explore-servers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.greyyy {
    background-color: #2c2f33;
}


.greyyy h1 {
    color: white;
}


.f23 {
    color: white;
}


.main-explore {
    align-items: center;
    text-align: center;
}
