.blue {
  background: #404eed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h1 {

  font-weight: 800;
  font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  border-style: initial;
  border-width: 0;
  font-style: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  color: #fff;
  font-weight: 800;
}
.headtext {
  border-style: initial;
  border-width: 0;
  margin-top: 0;
  font-style: inherit;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  color: #fff;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  text-align: center;
  .textMedium-2cZ80w {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.625;
  }

  .heroSubtitle-2aVZl_ {
    margin-top: 24px;
  }

  @media screen and (min-width: 768px) {
    .heroSubtitle-2aVZl_ {
      margin-top: 40px;
    }
  }

  @media screen and (min-width: 1024px) {
    .heroSubtitle-2aVZl_ {
      margin-top: 40px;
    }

    .inherited-styles-for-exported-element {
      text-align: center;
    }
  }

  font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: white;
  width: 30%;
}

h1 {
  font-size: clamp(24px, 5vw, 44px);
  font-weight: 800;
  line-height: 95%;
  text-rendering: geometricprecision;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .headtext {
    text-align: center;
  }
}
