.tst {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(AT_BG5.jpg) no-repeat;
    background-size: cover;
    color: #8e9297;
    line-height: 10px;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.login-box {
    width: 781px;
    height: 370px;
    background-color: #36393f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 28px;
}

.login-io-box {
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.sol-box {
    width: 450px
}

.sol-box h2 {
    color: white;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.sol-box span {
    margin-top: 5px;
    color: #b9bbbe;
    align-items: center;
    text-align: center;
}

.form-box {
    font-size: 16px;
}

.sol-box input {
    color: white;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    background-color: #303338;
    border: 1px solid #212327;
    padding: 13px;
}

.sol-box input,
select,
text {
    color: white;
}

.sing {
    color: #00aff4;
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
}

.login-bttn {
    text-align: center;
    background-color: #5865f2;
    padding: 15px;
    width: 100%;
    color: white;
    border: none;
    font-weight: 700;
}

.account {
    color: #72767d;
    font-size: 14px;
    line-height: 40px;
}

.sag-box {
    right: 10px;
    width: 250px;
    text-align: center;
    line-height: 20px;
}

.sag-box h2 {
    color: white;
}

#login-form-single-error {
    color: red
}

@media only screen and (max-width:760px) {
    .sag-box {
        display: none;
    }
}

.marniebttn {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .marniebttn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(-8px, 8px); /* Modified: Shift right */
    transition: transform .2s ease-out;
    z-index: -1;
  }

  .marniebttn:hover:after {
    transform: translate(0, 0);
  }

  .marniebttn:active {
    background-color: #ffdeda;
    outline: 0;
  }

  .marniebttn:hover {
    outline: 0;
  }

.bobbiebttn {
  align-items: center;
  background-color: #a7dcff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bobbiebttn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.bobbiebttn:hover:after {
  transform: translate(0, 0);
}

.bobbiebttn:active {
  background-color: #a7dcff;
  outline: 0;
}

.bobbiebttn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}



.demobttncontrol {
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    display: flex;

    justify-content: center;
}
