.reactions-panel {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
}

.reaction {
    all: unset;
    border-radius: 10px;
    background-color: #2b2d31;
    padding: 0 5px;
    margin: 0px 5px;
    color: #b5bac1;
    border: 1px solid #2b2d31;
}

.reaction:hover {
    cursor: pointer;
    border: 1px solid #b5bac1;
    background-color: rgba(56, 59, 64, 0.557)
}

.your-reaction {
    background-color: #3c4270;
    border: 1px solid #4951a8;
}

.your-reaction:hover {
    background-color: #3c4270;
    border: 1px solid #4951a8;
}

.add-reaction-button {
    font-size: 0.8rem;
}

.add-reaction {
    padding: 2.5px 7.5px;
    color: #b5bac1;
    opacity: 0;
}

.add-reaction:hover {
    color:white;
    opacity: 1;
}

.add-title {
    background-color: black;
	padding: 0.68rem 1rem;
	position: absolute;
	top: -175%;
    transform-origin: top;
	width: max-content;
	max-width: 256px;
	border-radius: 4px;
	opacity: 0;
    pointer-events: none;
    color: white;
}

.add-reaction:hover + .add-title {
    opacity: 1;
    transition-delay: 750ms;
    transition-property: opacity;
}
