.signback {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(1319211.png) no-repeat;
    background-size: cover;
    color: #8e9297;
    line-height: 10px;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.signupbox {
    width: 425px;
    height: 600px;
    background-color: #36393f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 28px;

}
.signiobox{
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

}

.siobox {
    width:450px
}

.siobox h2 {
    color: white;
    text-align: center;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.formzbox {
    font-size: 16px;
}

.siobox input {
    color: white;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    background-color: #303338;
    border: 1px solid #212327;
    padding: 13px;
}

.siobox input, select, text {
    color: white;
}

.signupbbtn {
    margin-top: 15px;
    text-align: center;
    background-color: #5865f2;
    padding: 15px;
    width: 100%;
    color: white;
    border: none;
    font-weight: 700;
    margin-bottom: 15px;
}

.signupbbtn:hover {
    cursor: pointer;
    background-color:#5d6aff
}
